.features{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.feat{
    padding: 0 20px ;
    text-align: center;
}
.features .feat i{
    font-size: 50px;
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800;
}
.features .feat p{
    font-size: 18px;
    color: #777;
    line-height: 1.8;
    margin: 0;
}