.portfolio{
    background-color: var(--background-color);
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
}
.portfolio .port-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .container .port-content .col img{
    max-width: 100%;
    opacity: 0.7;
    transition: 0.7s;
}
.portfolio .container .port-content .col img:hover{
    opacity: 1;
}
.portfolio .container .port-content .col .text{
    background-color: white;
    padding: 1px 16px 1px 17px;
}
@media (max-width: 768px) {
    .portfolio .container .port-content .col .text{
        text-align: center;
    }
}
.portfolio .container .port-content .col h4{
    margin-bottom: 0;
}
.portfolio .container .port-content .col p{
    margin-top: 7px;
    line-height: 1.6;
    font-size: 10px;
}