.about{
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
}
.about .about-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image{
    position: relative;
    width: 300px;
    height: 225px;
}

@media (max-width: 991px) {
    .about .about-content .image{
        margin: 0 auto 80px;
    }
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: #fafafa;
    width: 80px;
    height: calc(100% + 64px);
    top: -40px;
    left: -10px;
    z-index: -1;
}

.about .about-content .image::after{
        content: "";
        position: absolute;
        width: 63px;
        height: 171px;
        top: -20px;
        right: -80px;
        z-index: -1;
        border-bottom: 46px solid var(--main-color);
        border-left: 60px solid var(--main-color);
} 
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-child{
    line-height: 2;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 800;
    margin-top: 0;
}
.about .about-content .text hr{
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}
.about .about-content .text p:last-child{
    line-height: 2;
    font-size: 12px;
    margin-top: 20px;
    color: #777;
}
